   <div role="tabpanel" class="tab-pane" id="pentraits">
     <PentraitsChargen @name={{this.char.name}} @pen_traits={{this.char.custom.pen_traits}} @cg_traits_set={{this.char.custom.cg_traits_set}} @cg_traits_max_points={{this.char.custom.cg_traits_max_points }} @updated={{action "traitChanged"}}/>
   </div>